<a href="https://colab.research.google.com/github/eason489233/titanic-analysis/blob/main/%E5%B0%88%E9%A1%8C%E5%AF%A6%E4%BD%9C_%EF%BC%8301_%E9%90%B5%E9%81%94%E5%B0%BC%E8%99%9F%E9%A0%90%E6%B8%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
url='https://raw.githubusercontent.com/agconti/kaggle-titanic/master/data/train.csv'
df_train=pd.read_csv(url)

In [ ]:
columns_X = set(df_train.columns) - {'Survived'}
columns_y = ['Survived']

train_X = df_train[columns_X]
train_y = df_train[columns_y]

In [ ]:
train_X.isna().any()

Name           False
Cabin           True
Ticket         False
Sex            False
Pclass         False
Fare           False
Embarked        True
Parch          False
PassengerId    False
Age             True
SibSp          False
dtype: bool

In [ ]:
train_X=train_X.drop(['Name','Cabin','Embarked','Ticket','Age'],axis=1)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
from sklearn import preprocessing

le = preprocessing.LabelEncoder()
train_X['sex_new'] = le.fit_transform(train_X['Sex'])

In [ ]:
train_X=train_X.drop(['Sex'],axis=1)

In [ ]:
train_X.head()

   Pclass     Fare  Parch  PassengerId  SibSp  sex_new
0       3   7.2500      0            1      1        1
1       1  71.2833      0            2      1        0
2       3   7.9250      0            3      0        0
3       1  53.1000      0            4      1        0
4       3   8.0500      0            5      0        1

In [ ]:
log = LogisticRegression(random_state=0, max_iter=3000)
scores = cross_val_score(log, train_X, train_y.values.ravel(),cv=5,scoring='accuracy')
scores

array([0.81005587, 0.80337079, 0.78089888, 0.76966292, 0.80898876])